@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Oswald|Open+Sans+Condensed:300');
body {
  background-color: #000;
}

.navbar {
  background-color: transparent;
  border: none;
}


.navbar-fixed {
    top: 0;
    z-index: 100;
  position: fixed;
    width: 100%;
}

.navbar-default .navbar-nav>li>a {
    color: #f2f2ff;
    text-shadow: 11px 7px 20px #000;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(255, 255, 255, 0.97);
    background-color: rgba(115, 48, 48, 0);
    border-bottom: 1px solid white;
}





















.landing-image{
  background-image: url(../img/glass-bg.jpeg);
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeInFromNone 1.6s ease-out;
  -moz-animation: fadeInFromNone 1.6s ease-out;
  -o-animation: fadeInFromNone 1.6s ease-out;
    animation: fadeInFromNone 1.6s ease-out;
}


@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone  {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInFromNone  {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }
    100% {
        opacity: 1;
    }
}


/*fade in effect ends*/

.jumbotron {
  padding: 50px;
  background-color: rgba(51, 51, 51, 0.5);
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:rgba(0, 0, 0, 1); }
  25%  {background-color:rgba(0, 0, 0, .4);}
  50%  {background-color:rgba(0, 0, 0, 1);}
  75%  {background-color:rgba(0, 0, 0, .4);}
  100% {background-color:rgba(0, 0, 0, 1);}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:rgba(0, 0, 0, 1); }
  25%  {background-color:rgba(0, 0, 0, .4); }
  50%  {background-color:rgba(0, 0, 0, 1);}
  75%  {background-color:rgba(0, 0, 0, .4);}
  100% {background-color:rgba(0, 0, 0, 1);}
}
/*jumbotron color change ends */


.jumbotron h1, p {
  color: white;
  text-align: center;
}

.jumbotron p {
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.jumbotron h1 {
  font-family:'Source Code Pro', monospace;
  border-bottom: double 3px rgba(18,52,86,1) ;


}


.jumbotron ul  {
  list-style: none;
  text-align: center;
  padding:0px;
  font-size: 20px;
letter-spacing: 1px;
}


.jumbotron a {
  padding:10px;
  color:rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  text-decoration: none;
  border-radius: 10px;
}

.btn-about {
  margin-top:30px;
  margin-bottom: 30px;
}

.jumbotron a:hover {
     color:rgba(255,255,255, 1);
     text-shadow: 2px 2px 11px rgba(18,52,86,1);
     transition: all 0.5s;
     text-decoration: none;
     border: 2px solid rgba(255,255,255,1);
     /*border-style: double;*/
    padding: 18px;

}

.testing {
  height: 100px;
  width: 100px;
  background-color: red;
  position:fixed;
  right:0px;
}



/*Message page*/
.message-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-text {
  font-family: 'Oswald', sans-serif;
  /*font-family:'Source Code Pro', monospace;*/
  letter-spacing: 1px;
  font-size: 55px;
  color:rgba(151, 219, 226, 1)
}

@media (max-width: 405px) {
  .message-text {
    font-size: 27px
  }
}









/*Message page ends*/







 /*Portfolio section begins*/
.portfolio-section {
  background-color:  rgba(0,0,0,1) ;
  padding: 0px;
  /*border: 1px solid red;*/

}

.site-holder {
  background-color: #f5f5f5;
  overflow: hidden;
}

.dog-page--bg {
  height: 360px;
  background-image: url(../img/dog-page.png);
  background-size:cover;

}


.restaurant-page--bg {
  height: 360px;
  background-image: url(../img/restaurant-bg.png);

  background-size: cover;
  overflow: hidden;
}

.middle-countainer {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*overlay effect begins*/

.discriptions {
  font-family: 'Oswald', sans-serif;
}


.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(243, 173, 46);
}

 .overlay-effect:hover .overlay {
  opacity: 1;
}


.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* overlay effect ends*/


/*about section begins*/

.about-section {

  padding-top: 200px;
  padding-bottom: 200px;



}

.selfie {
  background-image: url(../img/me.jpg);
  height: 360px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}

.square-right{
  height: 130px;
  width: 130px;
  background-color: #000;
  position: absolute;
  right:-80px;
  bottom: -80px;
  transform: rotate(50deg);
}

.square-left{
      height: 130px;
      width: 130px;
      background-color: #000;
      position: absolute;
      left: -80px;
      top: -80px;
      transform: rotate(50deg);
}



.about-text {
  padding-bottom: 20px;
  padding-left: 0px;
}
.about-text h1 {
  /*color: #eabb87;*/
  /*color: rgb(159, 235, 243);*/
  color: rgb(187, 210, 225);
  line-height: 8px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;

}

.about-text-one {
  opacity: .7;
}


.about-text-two {
  opacity: .4;
}

.about-text-three {
  opacity: .2;
}

.bio-text h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 20px;
    padding-top: 17px;
    color: rgba(255, 255, 255, 0.7);
  }

.bio-text {
  padding-left: 0px;
  padding-right: 0px;

  color: rgba(224, 145, 0, 0.77);
 border-radius: 10px;
 border-left:  2px solid;
 border-right:  2px solid;
 margin-top: 10px;
}




/*FA ICONS start*/
.icons {
   text-decoration: none;
   color:white;
   opacity: .5;
   font-size: 25px;
   letter-spacing: 20px;
   transition: all .2s;
   border-bottom:  1px solid white;
   padding-left: 10px;
 }
.icons:hover {
  opacity: 1;
  color:#fff;
  border-left:1px solid white;
}


/*FA ICONS end*/

/*Contact section begins*/

.contact-section {

 border-bottom: none;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}




.contact-text {
  width: 600px;
  height: 500px;
  border-left:  1px  solid blue;
  border-bottom:  1px  solid blue;
  /*border: 1px solid red;*/
}

.contact-text h1 {
  font-size: 75px;
  font-family: 'Oswald', sans-serif;
  color: rgba(255, 255, 255, 0.69);

}


.flex-address {
height: 500px;
 /*border: 1px solid orange;*/
 display: flex;
 align-items: center;
 justify-content: center;
 font-family:'Source Code Pro', monospace;
 font-size: 20px;
}

.flex-address>p, .contact-icons  {
  color: #ffa500;
}

.contact-icons {
  font-size: 20px;
}
