@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Oswald');
body {
  background-color: #000;
}

.landing-image{
  background-image: url(../img/glass-bg.jpeg);
  background-size:cover;
  background-position: center;
  background-attachment:fixed;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeInFromNone 1.6s ease-out;
  -moz-animation: fadeInFromNone 1.6s ease-out;
  -o-animation: fadeInFromNone 1.6s ease-out;
    animation: fadeInFromNone 1.6s ease-out;
}


@-webkit-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone  {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }
    100% {
        opacity: 1;
    }
}


@keyframes fadeInFromNone  {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    80% {
      opacity: .8;
    }
    100% {
        opacity: 1;
    }
}


/*fade in effect ends*/

.jumbotron {
  padding: 50px;
  background-color: rgba(51, 51, 51, 0.5);
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:rgba(0, 0, 0, 1); }
  25%  {background-color:rgba(0, 0, 0, .4);}
  50%  {background-color:rgba(0, 0, 0, 1);}
  75%  {background-color:rgba(0, 0, 0, .4);}
  100% {background-color:rgba(0, 0, 0, 1);}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:rgba(0, 0, 0, 1); }
  25%  {background-color:rgba(0, 0, 0, .4); }
  50%  {background-color:rgba(0, 0, 0, 1);}
  75%  {background-color:rgba(0, 0, 0, .4);}
  100% {background-color:rgba(0, 0, 0, 1);}
}
/*jumbotron color change ends */


.jumbotron h1, p {
  color: white;
  text-align: center;
}

.jumbotron p {
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.jumbotron h1 {
  font-family:'Source Code Pro', monospace;
  border-bottom: double 3px rgba(18,52,86,1) ;


}


.jumbotron ul  {
  list-style: none;
  text-align: center;
  padding:0px;
  font-size: 20px;
letter-spacing: 1px;
}


.jumbotron a {
  padding:10px;
  color:rgba(255,255,255,0.5);
  border: 1px solid rgba(255,255,255,0.5);
  text-decoration: none;
  border-radius: 10px;
}

.btn-about {
  margin-top:30px;
  margin-bottom: 30px;
}

.jumbotron a:hover {
     color:rgba(255,255,255, 1);
     text-shadow: 2px 2px 11px rgba(18,52,86,1);
     transition: all 0.5s;
     text-decoration: none;
     border: 2px solid rgba(255,255,255,1);
     /*border-style: double;*/
    padding: 18px;

}

.testing {
  height: 100px;
  width: 100px;
  background-color: red;
  position:fixed;
  right:0px;
}



/*Message page*/
.message-section {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-text {
  font-family: 'Oswald', sans-serif;
  /*font-family:'Source Code Pro', monospace;*/
  letter-spacing: 1px;
  /*font-size: 55px;*/
  color:#fff;
}

@media (max-width: 405px) {
  .message-text {
    font-size: 27px
  }
}









/*Message page ends*/







 /*Portfolio section begins*/
.portfolio-section {
  background-color:  rgba(0,0,0,1) ;
  padding: 0px;

}

.site-holder {
  background-color: #f5f5f5;
}

.dog-page--bg {
  height: 360px;
  background-image: url(../img/dog-page.png);
  background-size:cover;
  overflow: hidden;
}
.corner-square {
  height: 100px;
  width: 100px;
  background-color: #000000;
  position: absolute;
  transform: rotate(50deg);
  left: -44px;
  top: -64px;
  overflow: hidden;
}

.restaurant-page--bg {
  height: 360px;
  background-image: url(../img/restaurant-bg.png);

  background-size: cover;
  overflow: hidden;
}

.restaurant-square {
  height: 100px;
  width: 100px;
  background-color: #000000;
  position: absolute;
  transform: rotate(50deg);
  right: -44px;
  bottom: -64px;
  overflow: hidden;
}

.middle-countainer {
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-container {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  border-bottom: double 3px rgba(18,52,86,1) ;
  /*border-left: double 3px rgba(18,52,86,1) ;
  border-right: double 3px rgba(18,52,86,1) ;*/
  padding: 0px;
}

/*about section begins*/

.about-section {
    /*border: 1px solid red;*/
  height: 100vh;
  padding-top: 200px;
    /*background-attachment:fixed;*/
}

.selfie {
  background-image: url(../img/me.jpg);
  height: 360px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  overflow: hidden;
}
.about-text {
  padding-bottom: 20px;
  padding-left: 0px;
}
.about-text h1 {
  color: #eabb87;
  line-height: 8px;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;

}

.about-text-one {
  opacity: .7;
}


.about-text-two {
  opacity: .5;
}

.about-text-three {
  opacity: .3;
}
